<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
    <!-- Id Column -->
    <ng-container class="col-6 w-100" matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let curso"> {{ curso.id }} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container class="col-6 w-100" matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nombre del Curso </th>
        <td mat-cell *matCellDef="let curso"> {{ curso.name }} </td>
      </ng-container>

      <!-- StartDate Column -->
    <ng-container class="col-6 w-100" matColumnDef="startDate">
      <th mat-header-cell *matHeaderCellDef> Fecha de Inicio </th>
      <td mat-cell *matCellDef="let curso"> {{ curso.startDate | date: 'dd/MM/YYYY' }} </td>
    </ng-container>
  
    <!-- EndtDate Column -->
    <ng-container class="col-6 w-100" matColumnDef="endDate">
        <th mat-header-cell *matHeaderCellDef> Fecha de Fin </th>
        <td mat-cell *matCellDef="let curso"> {{ curso.endDate | date: 'dd/MM/YYYY' }} </td>
    </ng-container>

    <!-- Duration Column -->
    <ng-container class="col-6 w-100" matColumnDef="duration">
        <th mat-header-cell *matHeaderCellDef> Duración del Curso </th>
        <td mat-cell *matCellDef="let curso"> {{ curso.duration + ' ' + 'horas'}} </td>
    </ng-container>

    <!-- Actions Columns -->
    <ng-container class="col-6 w-100" matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>

      <td mat-cell *matCellDef="let curso">
        <button (click)="editCurso.emit(curso.id)" mat-icon-button color="primary">
          <mat-icon>edit</mat-icon>
        </button>
        <button (click)="deleteCurso.emit(curso.id)" mat-icon-button color="warn">
          <mat-icon>delete</mat-icon>
        </button>
      </td>

    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
  </table>  
