main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #222f49;
    width: 100%;
    height: 100vh;
}

.login{
    width: 25vw;
    height: auto;
}

.logo{
    width: 20vw;
    padding-bottom: 20px;
}