
    <!-- SIDEBAR -->
    <main class="sidebar">
        <h2>Panel<br>Administrativo</h2>
        <mat-nav-list class="nav-list">
           <mat-list-item routerLink="home" class="list-item">
            <div class="nav">
                <img class="icons" src="./assets/img/home.png" alt="logo home">
                <a>Home</a>
            </div>
           </mat-list-item>
           <mat-list-item routerLink="users" class="list-item">
            <div class="nav">
                <img class="icons" src="./assets/img/usuarios.png" alt="logo usuarios">
                <a>Usuarios</a>
            </div>
           </mat-list-item>
           <mat-list-item routerLink="cursos" class="list-item">
            <div class="nav">
                <img class="icons" src="./assets/img/cursos.png" alt="logo cursos">
                <a>Cursos</a>
            </div>
           </mat-list-item>
           <mat-list-item routerLink="alumnos" class="list-item">
            <div class="nav">
                <img class="icons" src="./assets/img/alumnos.png" alt="logo alumnos">
                <a>Alumnos</a>
            </div>
           </mat-list-item>
           <mat-list-item routerLink="inscripciones" class="list-item">
            <div class="nav">
                <img class="icons" src="./assets/img/inscripciones.png" alt="logo inscripciones">
                <a>Inscripciones</a>
            </div>
           </mat-list-item>
        </mat-nav-list>
    </main>
    <!-- SIDEBAR -->
