
    <!-- SIDEBAR -->
        <h2>Menu <br>Administrativo</h2>
        <mat-nav-list class="nav-list">
           <mat-list-item class="list-item">
            <a mat-line>Home</a>
           </mat-list-item>
           <mat-list-item class="list-item">
            <a>Usuarios</a>
           </mat-list-item>
           <mat-list-item class="list-item">
            <a>Cursos</a>
           </mat-list-item>
           <mat-list-item class="list-item">
            <a>Alumnos</a>
           </mat-list-item>
           <mat-list-item class="list-item">
            <a>Inscripciones</a>
           </mat-list-item>
        </mat-nav-list>

    <!-- SIDEBAR -->
