.sidebar{
    width: 15vw;
    height: 100vh;
    background-color: #5c96d5;
}

h2{
    font-size: 1.5em;
    text-align: center;
    
}

a{
    color: #f2f7fc;
}


.icons{
    width: 32px;
}

.nav{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.list-item{
    background-color: #222f49;
    margin-bottom: 20px;
    margin-left: 5px;
    border-radius: 8px;
    text-align: center;
    display: flex;
    width: 14vw;
    padding: 35px;
}

.list-item:hover{
    background-color: #314a77;
}