
<!-- CONTENIDO -->
<div>         
    <mat-toolbar class="d-flex justify-content-around" color="accent">
        <button (click)="toggleSidebar.emit()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>
        <span class="example-spacer"></span>
      <h1>Secundaria Springfield</h1>
      <button (click)="logout()" mat-icon-button>
        <mat-icon>logout</mat-icon>
    </button>

    </mat-toolbar> 
    <!-- Pagina de Login -->
    <!-- <app-dash-form></app-dash-form> -->
</div>
<!-- CONTENIDO -->