<!-- CONTENIDO -->
<main>
    <div>         
        <mat-toolbar class="d-flex justify-content-between" color="primary">
            <button (click)="toggleSidebar.emit()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                <mat-icon>menu</mat-icon>
            </button>
            <span class="example-spacer"></span>
          <h1>Instituto DELTA</h1>
          <div>
            <p>Bienvenido: 
                {{ fullName$ | async }}
                <br/>
                {{ email$ | async }}
            </p>
          </div>
          <button (click)="logout()" mat-icon-button>
            <mat-icon>logout</mat-icon>
        </button>
        </mat-toolbar> 
    </div>
  </main>
  <!-- CONTENIDO -->